@import "tailwindcss";

:root {
    --bubble-border-color: #21ff21;
}

.timeline-container {
    width: 100%;
    height: 2000px;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
}

.timeline {
    margin-left: auto;
    margin-right: auto;
    width: 8px;
    background-color: blue;
    height: 100%;
}

.timeline-header {
    height: 300px;
    width: 100%;
    background-color: beige;
}

.timeline-footer {
    height: 300px;
    width: 100%;
    background-color: beige;
}

.timeline-bubble {
    padding: 20px 30px 20px 30px;
    border-width:;
}

.hairline-border {
    padding: 1rem;
    box-shadow: 0 0 0 1px var(--bubble-border-color);
}

@media (min-resolution: 2dppx) {
    .hairline-border {
        box-shadow: 0 0 0 0.5px var(--bubble-border-color);
    }
}

@media (min-resolution: 3dppx) {
    .hairline-border {
        box-shadow: 0 0 0 0.33333333px var(--bubble-border-color);
    }
}

@media (min-resolution: 4dppx) {
    .hairline-border {
        box-shadow: 0 0 0 0.25px var(--bubble-border-color);
    }
}
